/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/


**/target/
**/Servers/
**/.restinspect/
**/.idea/
**/.classpath
**/.project
**/.settings/
**/nb-configuration.xml
**/*.iml
**/*.iws
**/RemoteSystemsTempFiles/
**/.metadata/
**/.recommenders/
.DS_Store
*.jsfdia
*.tern-project

.kotlintest
.mvn
mvnw.cmd
mvnw
